* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #eff6ff;;
    font-family: "Inter", sans-serif;
}

.site-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}